@model List<Pizza>
@{
    ViewData["Title"] = "ShoppingCart";
}

@{double total = 0.0; }
<head>
    <link rel="stylesheet" href="~/css/Table.css" />
</head>

<body>

    <h2>Shopping Cart</h2>

    <table class="table" style="width:70%; background-color:white;">
        <thead align="center">
            <tr>
                <th>
                    @Html.Label("Pizza Type")
                </th>
                <th>
                    @Html.Label("Size")
                </th>
                <th>
                    @Html.Label("Crust")
                </th>
                <th>
                    @Html.Label("Sauce")
                </th>
                <th>
                    @Html.Label("1st Topping")
                </th>
                <th>
                    @Html.Label("2nd Topping2")
                </th>
                <th>
                    @Html.Label("3rd Topping")
                </th>
                <th>
                    @Html.Label("Price")
                </th>

            </tr>
        </thead>
        <tbody align="center">

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PizzaName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Size)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Crust)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sauce)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Topping1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Topping2)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Topping3)
                    </td>
                    <td>
                        $ @Html.DisplayFor(modelItem => item.Price)
                        @{total += item.Price;}
                    </td>
                    <td>
                        <a asp-controller="Shoppingcart" asp-action="Delete/@item.PizzaId"> Delete Pizza</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <label>Total: $ @total</label>

    <br />
    <div>
         @if (total>0.0){
        <a asp-controller="Orders" asp-action="create/@total" class="btn">Submit My Order</a>
            }
    </div>


</body>
