@model IEnumerable<PizzaAPI.Model.Payment>
@using Microsoft.AspNetCore.Identity
@using PizzaWeb.Data;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Index";
}


    <head>
        <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="~/css/Table.css" />
        <style>

            body {
                font-family: 'Comfortaa', cursive;
            }
        </style>
    </head>


    <body>
        <h2>Payment</h2>
        <br />

        <table class="table">
            <thead>
                <tr>
                    <th class="form-group">
                        <label class="control-label"> First name: </label>
                    </th>
                    <th class="form-group">
                        <label class="control-label"> Last name: </label>
                    </th>
                    <th class="form-group">
                        <label class="control-label"> Email: </label>
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CardNo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Customer)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    @if (item!=null && UserManager.Users.FirstOrDefault(m => m.UserName == @UserManager.GetUserName(User)).Id == item.Customer.UserId)
                    {
                        <tr>
                            <td>
                                @UserManager.Users.FirstOrDefault(m => m.UserName == @UserManager.GetUserName(User)).Firstname
                            </td>
                            <td>
                                @UserManager.Users.FirstOrDefault(m => m.UserName == @UserManager.GetUserName(User)).Lastname
                            </td>
                            <td>
                                @UserManager.Users.FirstOrDefault(m => m.UserName == @UserManager.GetUserName(User)).Email
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CardNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Customer.CustomerId)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.PaymentId">Update</a> |
                                <a asp-action="Details" asp-route-id="@item.PaymentId">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.PaymentId">Delete</a>
                            </td>
                        </tr>
                        }
                    }
                </tbody>
        </table>
    </body>